---
title: Homepage
bodyClass: home
---


	<section id="myNav" class="overlay">

		<a href="#" class="closebtn">X</a>

		<section class="overlay-content">

			<a href="#" target="_self">About</a>
			<a href="#" target="_self">Services</a>
			<a href="#" target="_self">Clients</a>
			<a href="#" target="_self">Contact</a>

		</section>

	</section>

	{{> hero}}

	{{> tiles}}

<div class="slider-container wrapper">
        <div class="slider">
            <div class="item red"> item 1</div>
            <div class="item green"> item 1</div>
            <div class="item blue"> item 1</div>
        </div>
        <div class="controllers">
            <span class="prev"> < </span>
            <span class="next"> > </span>
        </div>
    </div>

