---
title: Homepage
bodyClass: home
---

	{{> nav}}

	<section id="myNav" class="overlay">

		<a href="#" class="closebtn">X</a>

		<section class="overlay-content">

			<a href="#" target="_self">About</a>
			<a href="#" target="_self">Services</a>
			<a href="#" target="_self">Clients</a>
			<a href="#" target="_self">Contact</a>

		</section>

	</section>

	{{> hero}}

	{{> tiles}}

	{{> tiles2}}

<div class="slider-container wrapper">
        <div class="slider">
            <div class="item red"> item 1</div>
            <div class="item green"> item 1</div>
            <div class="item blue"> item 1</div>
        </div>
        <div class="controllers">
            <span class="prev"> < </span>
            <span class="next"> > </span>
        </div>
    </div>

<footer>


		<img src="/assets/images/footer-logo.png">

	<article>

		<ul>

			<li>

				<h3>email</h3>

				<a href="mailto:adamhopkins87@gmail.com?subject=I'm looking for...">adamhopkins87@gmail.com</a>

			</li>

			<li>

				<h3>Phone</h3>

				<span>07888667143</span>

			</li>

			<li>

				<h3>Github</h3>

				<span>www.dkdkd.com</span>

			</li>

		</ul>

	</article>

	<section id="peopleModule">

		<h1>people</h1>

		<input type="text" placeholder="name">

		<button id="addPerson">add person</button>

		<ul id="people">
			<script id="people-template" type="text/template">

				{{#people}}
					<li>
						<span>{{.}}</span>
						<i class="del">X</i>
					</li>
				{{/people}}

			</script>
		</ul>


	</section>





</footer>