---
title: Homepage
bodyClass: home
meta-description: Homepage
---


	{{> tiles}}

<div class="slider-container wrapper">
        <div class="slider">
            <div class="item item--red"> Image 1</div>
            <div class="item item--green"> Image 2</div>
            <div class="item item--blue"> Image 3</div>
        </div>
        <div class="controllers">
            <span class="prev"><img src="/assets/images/arrow-left.png"</img> </span>
            <span class="next"><img src="/assets/images/arrow-right.png"</img> </span>
        </div>
    </div>

