---
title: Homepage
bodyClass: home
---

<section id="wrapper">

	<section id="header">

		<div class="logo"></div>

		<div class="menu"></div>


	</section>

	<section id="myNav" class="overlay">

		<a href="#" class="closebtn">X</a>

		<section class="overlay-content">

			<a href="#" target="_self">About</a>
			<a href="#" target="_self">Services</a>
			<a href="#" target="_self">Clients</a>
			<a href="#" target="_self">Contact</a>

		</section>

	</section>

	<section id="banner" class="details">

		<section class="inner">




				<h1>My name is Adam Hopkins <br> <br>and i am a<br><br> junior front end developer</h1>




		</section>

	</section>

</section>