---
title: Homepage
bodyClass: home
---

	{{> nav}}

	<section id="myNav" class="overlay">

		<a href="#" class="closebtn">X</a>

		<section class="overlay-content">

			<a href="#" target="_self">About</a>
			<a href="#" target="_self">Services</a>
			<a href="#" target="_self">Clients</a>
			<a href="#" target="_self">Contact</a>

		</section>

	</section>

	{{> hero}}

	{{> tiles}}

	{{> tiles2}}



	<section>

</section>