$link-color:#bada55;
$header-color:#2a2f4a;
$white:#fff;
$black:#000;
$tile1:#3385ff;
$tile2:#ff3333;
$tile3:#47d147;
$tile4:#ff751a;

//for em mixin//

$base__font-size : 16px;

/*font*/

$urban-jungle:'urban_jungleregular', serif;