
//Exxon Mobil Fonts - Uncomment as nessesary

@font-face {
    font-family: 'urban_jungleregular';
    src: url('../fonts/personal/urbanjungledemo-webfont.woff2') format('woff2'),
         url('../fonts/personal/urbanjungledemo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



h1, h2, h3, h4, h5, a {
	font-weight: normal;
	font-family:$urban-jungle;
}