<footer>

	<section class="block">

		<article class="block__tile">

			<div class="block__tile--colour">

				<h1>Email</h1>

			</div>

			<span>07888667143</span>

		</article>

		<article class="block__tile">

			<div class="block__tile--colour1">

				<h1>Phone</h1>

			</div>

			<span>07888667143</span>

		</article>

		<article class="block__tile">

			<div class="block__tile--colour2">

				<h1>Github</h1>

			</div>

			<span>www.dkdkd.com</span>

		</article>

	</section>

		<img src="/assets/images/footer-logo.png">


	<section class="copyright">

	<h2>copyright 2017</h2>

	</section>

</footer>