<section class="one">

	<article class="one__tile one__tile--image1">

		<div class="one__tileOverlay one__tileOverlay--blue">

			<h3>About</h3>

		</div>

	</article>

	<article class="one__tile one__tile--image2">

		<div class="one__tileOverlay one__tileOverlay--red">

			<h3>Skills</h3>

		</div>

	</article>

	<article class="one__tile one__tile--image3">

		<div class="one__tileOverlay one__tileOverlay--green">

			<h3>Work</h3>

		</div>

	</article>

	<article class="one__tile one__tile--image4">

		<div class="one__tileOverlay one__tileOverlay--orange">

			<h3>contact</h3>

		</div>

	</article>

</section>
