footer {
    height: 400px;
    background-color: #fff;
    font-size: 20px;
    color: #000;
    margin: 0px auto;
    text-align: center;
    .block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: em(20px);
        flex-flow: row wrap;
        &__tile {
            border: 2px solid #000;
            margin: em(10px);
            flex-grow: 1;
            max-width: 254px;
            height: 200px;
            &:hover {
                transform: scale(1.1);
            }
            &--colour {
                background-color: $tile2;
                opacity: 0.75;
            }
            &--colour1 {
                background-color: $tile1;
                opacity: 0.75;
            }
            &--colour2 {
                background-color: $tile3;
                opacity: 0.75;

            }
            h1 {
                padding-top: 50px;
                padding-bottom: 50px;
                font-size: em(60px);
                color: $white;
            }
        }
    }
}

.copyright {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: $header-color;
    margin-top:20px;

    h2 {
        color: $white;
        padding-top: 25px;
                padding-bottom: 25px;
    }
}