.slider-container {
    .slider {
        height: 250px;
        width: 100%;
        .item {
            width: 250px;
            height: 100%;
            text-align: center;
            color: #fff;
            font-size: 30px;
            font-family: $urban-jungle;
            letter-spacing: 4px;
            max-width: 250px !important;
            // &--red {
            //     background-image: url("http://placehold.it/500x300");
            // }
            // &--green {
            //     background-image: url("http://placehold.it/500x300");
            // }
            // &--blue {
            //     background-image: url("http://placehold.it/500x300");
            // }
        }
    }
}

.controllers {
    text-align: center;
    background-color:black;
    .prev {
        position: absolute;
        bottom: 50%;
        left: 0%;
        top: 50%;
    }
    .next {
        position: absolute;
        bottom: 50%;
        right: 0%;
        top: 50%;
    }
    span {
        font-size: 40px;
        display: inline-block;
        padding: 4px 8px;
        color: #fff;
        margin: 0px auto;
        cursor: pointer;
        height: 55px;
    }
}
