    .one {
        width: 100%;
        @media (max-width: 768px) {
            display: block;
        }
        &__tile {
            width: 50%;
            height: 250px;
            display: inline-block;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            overflow: hidden;
            position: relative;
            opacity: 0.75;
            &--image1 {
                background-image: url('/assets/images/pic01.jpg');
            }
            &--image2 {
                background-image: url('/assets/images/pic02.jpg');
            }
            &--image3 {
                background-image: url('/assets/images/pic02.jpg');
            }
            &--image4 {
                background-image: url('/assets/images/pic01.jpg');
            }
            @media (max-width: 768px) {
                width: 100%;
            }
            h3 {
                font-size: 40px;
                width: 100%;
                text-align: center;
                color: $white;
                padding-top: 110px;
                padding-bottom: 110px;
                &:hover {
                    color: $black;
                }
            }
        }
        &__tileOverlay {
            cursor: pointer;
            &:hover {
                box-shadow: inset 0 0 0 25px #fff;
            }
            &--orange {
                background-color: $tile4;
                opacity: 0.85;
                height: 250px;
            }
            &--blue {
                background-color: $tile1;
                opacity: 0.85;
                height: 250px;
            }
            &--green {
                background-color: $tile3;
                opacity: 0.85;
                height: 250px;
            }
            &--red {
                opacity: 0.85;
                height: 250px;
                background-color: $tile2;
            }
        }
    }
